* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./img/estrelas.png);

}


.header {
    display: flex;
    flex-direction: row;
    position: sticky;
    z-index: 999;

}

.header .container {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;

}

.header img {
    width: 100px;
    height: 100px;
    margin: 0px 20px 20px 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 800px;
    margin-left: 20%;
    list-style: none;
    color: white;

}

.loginInicio {
    display: flex;
    justify-content: center;
    border: 3px solid white;
    width: 100px;
    cursor: pointer;
}

.cadastroInicio {
    display: flex;
    justify-content: center;
    border: 3px solid white;
    width: 100px;
    cursor: pointer;
}

/* Estilização da primeira parte do index*/
.inicio {
    display: flex;
}

.inicio img {
    width: 100%;
    height: 800px;

}

#imagem2 {
    width: 40%;
    height: 60%;
    position: absolute;
    margin-top: 15%;
    margin-left: 30%;
}

.inicio h1 {
    color: white;
    position: absolute;
    margin-top: 35%;
    margin-left: 31%;
}

.inicio button {
    color: black;
    position: absolute;
    margin-top: 40%;
    margin-left: 35%;
    width: 30%;
    height: 10%;
    border-radius: 5px;
    border: none;
    font-size: 30px;
}



.inicio2 {
    flex-basis: 50%;

}

.inicio2 h1 {
    color: white;
    font-size: 60px;
    font-weight: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}



/*Estilização segunda parte do index*/
.parte2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}


.introducao {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}


#introducaoTitulo {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #feda4a;
}

#introducaoTexto {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 3px;
    width: 80%;
    align-self: center;
    margin-bottom: 50px;
}

.introducao h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.introducao p {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 3px;
}

.introducao .card {
    display: flex;
    background-color: rgb(37, 36, 36);
    justify-content: flex-start;
    width: 990px;
    height: 380px;
    border-radius: 20px;
    margin-left: 10px;
}


.introducao .card2 {
    display: flex;
    background-color: rgb(37, 36, 36);
    align-self: flex-end;
    width: 990px;
    height: 380px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.introducao .card img {
    width: 40%;
    height: 70%;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 40px;
}

.introducao .card2 img {
    width: 40%;
    height: 70%;
    border-radius: 20px;
    margin-top: 60px;
    margin-right: 40px;
    margin-left: 60px;
}

.informacao {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}


/*Inicio da estilização da terceira parte da pagina*/

.parte3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.parte3 h1 {
    color: white;
    font-weight: 3px;
    font-size: 60px;
    align-self: center;
}

.parte3 .container {
    display: flex;
    justify-content: center;
}

.parte3 video {
    width: 100%;
    height: 100%;
}

.inf {
    display: flex;
    background-color: rgb(37, 36, 36);
    justify-content: flex-start;
    width: 800px;
    height: 300px;
    border-radius: 20px;
    margin-left: 10px;
}

.inf p {
    font-size: 30px;
    color: white;
    font-weight: 5px;
}

/*Parte 4 - Personagens principais*/

.parte4 {
    margin-top: 100px;
    display: flex;
    justify-content: center;

}


.persoContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.parte4 h1 {
    display: flex;
    justify-content: center;

}

.perso {
    margin-top: 30px;
    display: flex;
    background-color: rgb(37, 36, 36);
    flex-direction: column;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    justify-content: center;
}

.perso p {
    color: white;
}

.perso img {
    margin-left: 30px;
    width: 190px;
    height: 190px;
    border-radius: 20px;
}

/*Footer*/
.footer {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;
}

.footer .container {
    display: flex;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 30px;
    justify-content: center;
    align-self: center;
    flex-basis: 33%;
}

.redes-sociais h1 {
    color: white;
    font-size: 25px;
}

.redes-sociais img {
    width: 8%;
    height: auto;
}

.iconRedes {
    display: flex;
    gap: 30px;
    margin-left: 60PX;
}

.algumtexto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 33%;
}

.algumtexto h1 {
    color: white;
}

.algumtexto p {
    color: white;
}

.eu {
    display: flex;
    justify-content: center;
    flex-basis: 33%;
    flex-direction: column;
}

.eu img {
    width: 30%;
    height: 50%;
    margin: 30px 0px 0px 200px
}

/*Tela de cadastro*/

.card .container{
    display: flex;
    background-color: rgb(37, 36, 36);
    justify-content: center;
    width: 990px;
    height: 380px;
    margin-left: 10px;
    
}

.eu p {
    color: white;
    font-size: 10px;
    margin-left: 200px;
}

.footer2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;
}

.footer2 h1 {
    color: white;
    font-size: 20px;
}