* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   


}
body{
    margin: 0;
    padding: 0;
     background-image:url(./img/estrelas.png);
    
}

.header{
    display: flex;
    flex-direction: row;
    background-color: blue;
    
}

.header .container{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;
    
}

.header img{
    width: 100px;
    height: 100px;
    margin: 0px 20px 20px 20px;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 500px;
    margin-left: 40%;
    list-style: none;
    color: white;
}