* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

body {
    margin: 0;
    padding: 0;
    background-image: url(./img/estrelas.png);

}


.header {
    display: flex;
    flex-direction: row;
     position: sticky;
    z-index: 999;

}

.header .container {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;

}

.header img {
    width: 100px;
    height: 100px;
    margin: 0px 20px 20px 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 900px;
    margin-left: 15%;
    list-style: none;
    color: white;

}

.loginInicio{
    display: flex;
    justify-content: center;
    border: 3px solid white;
    width: 100px;
    cursor: pointer;
}

.cadastroInicio{
    display: flex;
    justify-content: center;
    border: 3px solid white;
    width: 100px;
    cursor: pointer;
}

/* Estilização da primeira parte do index*/
.inicio {
    display: flex;
}

.inicio img {
    width: 60%;
    height: 80%;
    margin-top: 30px;
    margin-left: 30px;
}


.inicio2 {
    flex-basis: 50%;

}

.inicio2 h1 {
    color: white;
    font-size: 60px;
    font-weight: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}



/*Estilização segunda parte do index*/
.parte2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}


.introducao{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.introducao .card{
    display: flex;
    background-color:rgb(37, 36, 36);
    justify-content: flex-start;
    width: 900px;
    height: 300px;
    border-radius: 20px;
    margin-left: 10px;
}


.introducao .card2{
    display: flex;
    background-color:rgb(37, 36, 36);
    align-self: flex-end;
    width: 900px;
    height: 300px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.introducao .card img{
    width: 30%;
    height: 60%;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 40px;
}

.introducao .card2 img{
    width: 30%;
    height: 60%;
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 60px;
}

.informacao{
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}
.introducao h1{
    display: flex;
    justify-content: center;
    color: white;
}

.introducao p{
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 10px;
}


.introducao p{
    font-size: 20px;
    color: white;
    font-weight: 3px;
}

/*Inicio da estilização da terceira parte da pagina*/

.parte3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.parte3 h1{
    color: white;
    font-weight: 3px;
    font-size: 60px;
    align-self: center;
}

.parte3 .container{
    display: flex;
    justify-content: center;
}

.parte3 video{
    width: 100%;
    height: 100%;
}

.inf{
    display: flex;
    background-color:rgb(37, 36, 36);
    justify-content: flex-start;
    width: 800px;
    height: 300px;
    border-radius: 20px;
    margin-left: 10px;
}

.inf p{
    font-size: 30px;
    color: white;
    font-weight: 5px;
}

/*Parte 4 - Personagens principais*/

.parte4{
    display: flex;
    justify-content: center;
    
}


.persoContainer{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.perso{
    margin-top: 30px;
    display: flex;
    background-color:rgb(37, 36, 36);
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    justify-content: center;
}

.perso p{
    color: white;
}

.perso img{
    margin-left: 30px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

/*Footer*/
.footer{
    margin-top: 50px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;
}
