* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif
}


.body {
    margin: 0;
    padding: 0;
}


.quiz{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.quiz .container{
    width: 600px;
    height: 500px;
    background-color: red;
    border: 4px solid blue;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pergunta{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.opcoes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.opcao{
    display: flex;
    flex-direction: row;
    font-size: 50px;
}

.quiz input{
    width: 100px;
    height: auto;
}