* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/estrelas.png);

}


.header {
    display: flex;
    flex-direction: row;
    position: sticky;
    z-index: 999;

}

a {
    margin-top: 20px;
    text-decoration: none;
    color: inherit;
}

.header a:hover {
    transition: transform 0.2s ease;
    transform: scale(1.3);
    color: #feda4a;
    cursor: pointer;



}

.header .container {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;

}

.header img {
    width: 100px;
    height: 100px;
    margin: 0px 20px 20px 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 800px;
    margin-left: 20%;
    list-style: none;
    color: white;

}

.selecionada {
    display: flex;
    justify-content: center;
}

.navbar img {
    width: 5%;
    height: auto;
    position: absolute;
    margin-top: 40px;

}

.loginInicio {
    display: flex;
    justify-content: center;
    border: 3px solid rgb(30, 200, 255);
    box-shadow: 0 0 15px #00eaff;
    width: 100px;
    cursor: pointer;
}

.loginInicio:hover {
    transform: scale(1.2);
    color: #feda4a;
    transition: transform 0.2s ease;

}

.cadastroInicio {
    display: flex;
    justify-content: center;
    border: 3px solid rgb(30, 200, 255);
    box-shadow: 0 0 15px #00eaff;
    width: 100px;
    cursor: pointer;
}

.cadastroInicio:hover {
    transform: scale(1.2);
    color: #feda4a;
    transition: transform 0.2s ease;

}



/* Estilização da primeira parte do index*/
.inicio {
    display: flex;
}

.inicio img {
    width: 100%;
    height: 800px;

}

#imagem2 {
    width: 40%;
    height: 60%;
    position: absolute;
    margin-top: 15%;
    margin-left: 30%;
}

.inicio h1 {
    color: white;
    position: absolute;
    margin-top: 35%;
    margin-left: 31%;
}

.inicio button {
    color: black;
    position: absolute;
    margin-top: 40%;
    margin-left: 35%;
    width: 30%;
    height: 10%;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

.inicio button:hover {
    background: white;
    box-shadow: 0 0 20px white;
}



.inicio2 {
    flex-basis: 50%;

}

.inicio2 h1 {
    color: white;
    font-size: 60px;
    font-weight: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}



/*Estilização segunda parte do index*/
.parte2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}


.introducao {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}


#introducaoTitulo {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #feda4a;
}

#introducaoTexto {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 3px;
    width: 80%;
    align-self: center;
    margin-bottom: 50px;
}

.introducao h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.introducao p {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 3px;
}

.introducao .card {
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    box-shadow: 0 0 15px #00eaff;
    justify-content: flex-start;
    width: 990px;
    height: 380px;
    border-radius: 20px;
    margin-left: 10px;
}


.introducao .card2 {
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    box-shadow: 0 0 15px #00eaff;
    align-self: flex-end;
    width: 990px;
    height: 380px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
}

.introducao .card img {
    width: 40%;
    height: 70%;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 40px;
}

.introducao .card2 img {
    width: 40%;
    height: 70%;
    border-radius: 20px;
    margin-top: 60px;
    margin-right: 40px;
    margin-left: 60px;
}

.informacao {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}


/*Inicio da estilização da terceira parte da pagina*/

.parte3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.parte3 h1 {
    color: white;
    font-weight: 3px;
    font-size: 60px;
    align-self: center;
}

.parte3 .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.parte3 video {
    width: 100%;
    height: 100%;
}

.inf {
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 800px;
    height: 800px;
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 0 0 15px #00eaff;
}

.inf p {
    font-size: 30px;
    color: white;
    font-weight: 5px;
}

.inf img {
    width: 50%;
    height: 70%;
    margin-top: 40px;
    border-radius: 20px;
}

#avançarBtn {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 585%;
    left: 70%;
    box-shadow: 1px 1px 20px black;
}

#voltarBtn {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 585%;
    right: 70%;
    box-shadow: 1px 1px 30px black;
}

#avançarBtn img {
    width: 52px;
    height: 40px;
    display: flex;
    justify-content: center;
}

#voltarBtn img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}



/*Parte 4 - Personagens principais*/

.parte4 {
    margin-top: 100px;
    display: flex;
    justify-content: center;

}


.persoContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
}

.parte4 h1 {
    display: flex;
    justify-content: center;

}

.perso {
    margin-top: 30px;
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    box-shadow: 0 0 15px #00eaff;
    flex-direction: column;
    width: 270px;
    height: 400px;
    border-radius: 20px;
    justify-content: center;
    transition: transform 0.5s ease;


}

.perso p {
    color: white;
    font-size: 15px;
    margin-left: 5%;
    line-height: 1.4;
}

.perso:hover {
    box-shadow: 0 0 40px rgba(0, 255, 180, 0.35);
    transform: scale(1.03);
}

#vilao:hover {
    box-shadow: 0 0 40px rgba(205, 0, 0, 0.35);
    background-color: rgba(205, 0, 0, 0.35, .05);
}

.perso img {
    margin-left: 30px;
    width: 190px;
    height: 190px;
    border-radius: 20px;
}
/* Criador */

.criador{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.criador h1{
    color: white;
    font-size: 50px;
}

.criador .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 980px;
    height: 350px;
    background-color: rgba(14, 84, 108, 0.5);
    box-shadow: 0 0 15px #00eaff;
    align-self: center;
    border-radius: 10px;
}

.george{
    display: flex;
    flex-direction: row;
}

.george p{
    color: white;
    font-size: 16.8px;
    line-height: 1.2;
    width: 350%;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
}

.george img{
    width: 100%;
    height: auto;
}

/*Footer*/
.footer {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;
}

.footer .container {
    display: flex;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 30px;
    justify-content: center;
    align-self: center;
    flex-basis: 33%;
}

.redes-sociais h1 {
    color: white;
    font-size: 25px;
}

.redes-sociais img {
    width: 130%;
    height: auto;
}

.iconRedes {
    display: flex;
    gap: 30px;
    margin-left: 60PX;
}

.algumtexto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 33%;
}

.algumtexto h1 {
    color: white;
}

.algumtexto p {
    color: white;
}

.eu {
    display: flex;
    justify-content: center;
    flex-basis: 33%;
    flex-direction: column;
}

.eu img {
    width: 40%;
    height: 70%;
    margin: 30px 0px 0px 200px
}

.eu p {
    color: white;
    font-size: 10px;
    margin-left: 230px;
}


.footer2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;
}

.footer2 h1 {
    color: white;
    font-size: 20px;
}

/*Tela de login*/

.card .container {
    display: flex;
    background-color: rgb(37, 36, 36, 0.5);
    justify-content: center;
    width: 500px;
    height: 680px;
    margin: 50px 0px 0px 570px;
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 25px #00eaff, inset 0 0 10px #00eaff;


}

#imgEstrelaMorte {
    position: absolute;
    margin-top: 200px;
    width: 400px;
}

.camposCadastro {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.camposCadastro img {
    width: 80%;
    height: auto;
    margin-left: 40px;
}

.camposCadastro h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20%;
}

.campo {
    display: flex;
    margin-bottom: 60px;
}

.camposCadastro input {
    width: 100%;
    height: 50px;
    background-color: rgb(37, 36, 36, 0.5);
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff;
    border-radius: 3px;
    outline: none;
    color: white;


}

.camposCadastro input::placeholder {
    color: white;
    font-size: 20px;
}

.camposCadastro button {
    font-size: 30px;
    background-color: rgb(30, 200, 255, 0.5);
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff;
    border-radius: 3px;
    color: white;
}

/*Tela de cadastro*/
.card .container-cadastro {
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    justify-content: center;
    width: 950px;
    height: 680px;
    margin: 50px 0px 0px 170px;
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 25px #00eaff, inset 0 0 10px #00eaff;
    margin-bottom: 30px;
    border-radius: 20px;


}


.subcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.campo-cadastro {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.subcontainer img {
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.subcontainer h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 10%;
    margin-left: 27%;
}

.campo {
    display: flex;
    margin-bottom: 60px;
}

.subcontainer input {
    width: 250px;
    height: 50px;
    background-color: rgb(37, 36, 36, 0.5);
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff;
    border-radius: 10px;
    outline: none;
    color: white;


}

.subcontainer input::placeholder {
    color: white;
    font-size: 15px;
    margin-left: 100px;
}

.subcontainer button {
    width: 80%;
    height: 20%;
    background-color: rgb(30, 200, 255, 0.5);
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    margin-left: 70px;

}

.botoes {
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}



/*Tela sobre mim*/

.historia {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 70px;
}



.historia .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(14, 84, 108, 0.5);
    border-radius: 10px;
    width: 100%;
    height: 430px;
    margin: 50px 0px 0px 20px;
    color: white;
    line-height: 20px;
    flex-basis: 65%;

}

.historia .container h1 {
    font-size: 40px;
}

.historia .container p {
    font-size: 22px;
    margin: 20px 20px 30px;
    line-height: 1.2;
}
.fotoHistoria{
    display: flex;
    width: 100%;
    height: auto;
    flex-basis: 40%;
}
.fotoHistoria img {
    margin: 50px 10px 10px 10px;
    width: 87%;
    height: 69%;
    border-radius: 15px;
}

/*Segunda parte do sobre mim*/

.filmeFav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
    margin-top: 30px;
}

.filmeFav .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 100px;
    margin: 100px 0px 0px 20px;
    color: white;
    line-height: 20px;

}

.filmeFav h1 {
    font-size: 50px;
    color: #feda4a;
}

.filmeFav p {
    font-size: 18px;
}


.content-filmeFav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    gap: 50px;
}

.content-filmeFav video{
    border: 5px solid rgba(14, 84, 108);
}

.content-textFilmeFav {
    width: 40%;
    height: 300px;
    background-color: rgba(14, 84, 108, 0.5);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.content-filmeFav p {
    color: white;
    width: 95%;
    height: 200px;
}

/*Terceira parte do sobre mim*/

.momentos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px;
}

.momentos h1 {
    color: white;
    justify-content: center;
    align-self: center;
    font-size: 50px;
}

.momentos span {
    color: white;
    justify-content: center;
    align-self: center;
    font-size: 30px;
}

.momentos .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    gap: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.content-momentos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgba(14, 84, 108, 0.5);
    border-radius: 10px;
    width: 50%;
    height: 200px;
    margin: 50px 0px 0px 20px;
    color: white;
    line-height: 20px;
}

.content-momentos img {
    width: 95%;
    height: 100%;
}

.content-momentos p{
    display: flex;
    width: 180%;
    line-height: 1.3;
    margin-left: 20px;

}

/*Valores*/

.valores {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.valores h1 {
    color: white;
    font-size: 30px;
}

.valores span {
    color: white;
    font-size: 20px;
}

.valores .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 40, 43, 0.5);
    width: 94%;
    height: 700px;
    border-radius: 10px;
    gap: 80px;
    margin-bottom: 10px;
}

.containerValores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

}

.content-valor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(101, 118, 124);
    box-shadow: 0 0 20px rgba(212, 220, 223);
    width: 25%;
    height: 350px;
    margin-bottom: 110px;

}

.content-valor p{
    text-align: center;
}

/*Rank sobre mim*/

.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.rank h1 {
    color: white;
}

.rank .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.content-rank {
    margin-top: 30px;
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    box-shadow: 0 0 15px #00eaff;
    flex-direction: column;
    width: 270px;
    height: 500px;
    border-radius: 20px;
    justify-content: center;

}

.content-rank span {
    font-size: 50px;
    color: #feda4a;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-weight: 900;
}

.content-rank h2 {
    font-size: 30px;
    color: white;
    margin: 0;
    align-self: center;
    text-align: center;
}

.content-rank p {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 10px;
    font-size: 15px;
}

.content-rank img {
    margin-left: 10px;
    width: 250px;
    height: 280px;
    border-radius: 20px;
}

/*Tela de jogos*/

.banner {
    display: flex;
    margin: 0;
    padding: 0;
}

.banner .container {

    width: 100%;
    height: 630px;
    position: relative;
    overflow: hidden;

}


.slide {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity .5s ease, transform .5s ease;
    transform: translateX(50px);
}

.slide.on {
    opacity: 1;
    transform: translateX(0);
}

.slide img {
    width: 800px;
    object-fit: cover;
}

.banner img {
    object-fit: cover;
    width: 1263px;
    height: 70%;
    background-position: center;
    position: relative;
}


#rigthBtn {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 220px;
    left: 92%;
    box-shadow: 1px 1px 20px black;
}

#rigthBtn img {
    width: 52px;
    height: 40px;
    display: flex;
    justify-content: center;
}

#leftBtn img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

#leftBtn {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 220px;
    right: 92%;
    box-shadow: 1px 1px 20px black;
}


.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.game-info h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 15%;
}

.game-info .container {
    display: flex;
    width: 95%;
    height: 570px;
    background-color: rgba(14, 84, 108, 0.5);

}

.gameplay img {
    margin: 40px 10px 10px 40px;
    width: 700px;
    height: auto;
}

.texto1 {
    width: 94%;
    height: auto;
    line-height: 1.5;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}



.texto2 {
    margin-top: 20px;
    width: 100%;
    height: auto;
    line-height: 1.3;
    color: white;
    font-size: 20px;
}


.content-gameplays {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10%;
}

.content-gameplay {
    width: 300px;
    height: 250px;
    background-color: rgba(14, 84, 108, 0.5);
    border-radius: 10px;
}

.content-gameplay:hover {
    transition: 0.9s ease;
    transform: scale(1.1);
}

.thumb {
    width: 90%;
    height: auto;
    margin: 20px 0px 0px 15px;
}

#titulo-video {
    color: white;
    font-size: 17px;
    display: flex;
    text-align: center;
    justify-content: center;
}

/*Recomendações*/

.recomendacoes {
    display: flex;
    flex-direction: column;
}

.recomendacoes .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.recomendacoes .card {
    width: 200px;
    height: 250px;
    background-color: rgb(63, 65, 66);
    border-radius: 10px;
}

.recomendacoes .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.linha {
    margin-top: 3px;
    margin-left: 10px;
    width: 40px;
    height: 5px;
    background-color: rgb(192, 199, 202);
    ;
    border-radius: 10px;

}

#txt {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 10px;
}