* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/estrelas.png);

}


.header {
    display: flex;
    flex-direction: row;
    position: sticky;
    z-index: 999;

}

a {
    margin-top: 20px;
    text-decoration: none;
    color: inherit;
}

a:hover {
    transition: transform 0.2s ease;
    transform: scale(1.3);
    color: #feda4a;
    cursor: pointer;



}

.header .container {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;

}

.header img {
    width: 100px;
    height: 100px;
    margin: 0px 20px 20px 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 800px;
    margin-left: 20%;
    list-style: none;
    color: white;

}

.selecionada {
    display: flex;
    justify-content: center;
}

.navbar img {
    width: 5%;
    height: auto;
    position: absolute;
    margin-top: 40px;

}

.loginInicio {
    display: flex;
    justify-content: center;
    border: 3px solid rgb(30, 200, 255);
    box-shadow: 0 0 15px #00eaff;
    width: 100px;
    cursor: pointer;
}

.loginInicio:hover {
    transform: scale(1.2);
    color: #feda4a;
    transition: transform 0.2s ease;

}

.cadastroInicio {
    display: flex;
    justify-content: center;
    border: 3px solid rgb(30, 200, 255);
    box-shadow: 0 0 15px #00eaff;
    width: 100px;
    cursor: pointer;
}

.cadastroInicio:hover {
    transform: scale(1.2);
    color: #feda4a;
    transition: transform 0.2s ease;

}



/* Estilização da primeira parte do index*/
.inicio {
    display: flex;
}

.inicio img {
    width: 100%;
    height: 800px;

}

#imagem2 {
    width: 40%;
    height: 60%;
    position: absolute;
    margin-top: 15%;
    margin-left: 30%;
}

.inicio h1 {
    color: white;
    position: absolute;
    margin-top: 35%;
    margin-left: 31%;
}

.inicio button {
    color: black;
    position: absolute;
    margin-top: 40%;
    margin-left: 35%;
    width: 30%;
    height: 10%;
    border-radius: 5px;
    border: none;
    font-size: 30px;
}



.inicio2 {
    flex-basis: 50%;

}

.inicio2 h1 {
    color: white;
    font-size: 60px;
    font-weight: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}



/*Estilização segunda parte do index*/
.parte2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}


.introducao {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}


#introducaoTitulo {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #feda4a;
}

#introducaoTexto {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 3px;
    width: 80%;
    align-self: center;
    margin-bottom: 50px;
}

.introducao h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.introducao p {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 3px;
}

.introducao .card {
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    box-shadow: 0 0 15px #00eaff;
    justify-content: flex-start;
    width: 990px;
    height: 380px;
    border-radius: 20px;
    margin-left: 10px;
}


.introducao .card2 {
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    box-shadow: 0 0 15px #00eaff;
    align-self: flex-end;
    width: 990px;
    height: 380px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
}

.introducao .card img {
    width: 40%;
    height: 70%;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 40px;
}

.introducao .card2 img {
    width: 40%;
    height: 70%;
    border-radius: 20px;
    margin-top: 60px;
    margin-right: 40px;
    margin-left: 60px;
}

.informacao {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}


/*Inicio da estilização da terceira parte da pagina*/

.parte3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.parte3 h1 {
    color: white;
    font-weight: 3px;
    font-size: 60px;
    align-self: center;
}

.parte3 .container {
    display: flex;
    justify-content: center;
}

.parte3 video {
    width: 100%;
    height: 100%;
}

.inf {
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    justify-content: flex-start;
    width: 800px;
    height: 300px;
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 0 0 15px #00eaff;
}

.inf p {
    font-size: 30px;
    color: white;
    font-weight: 5px;
}

/*Parte 4 - Personagens principais*/

.parte4 {
    margin-top: 100px;
    display: flex;
    justify-content: center;

}


.persoContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
}

.parte4 h1 {
    display: flex;
    justify-content: center;

}

.perso {
    margin-top: 30px;
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    box-shadow: 0 0 15px #00eaff;
    flex-direction: column;
    width: 270px;
    height: 400px;
    border-radius: 20px;
    justify-content: center;
    transition: transform 0.5s ease;


}

.perso p {
    color: white;
    font-size: 15px;
    margin-left: 5%;
    line-height: 1.4;
}

.perso:hover {
    box-shadow: 0 0 40px rgba(0, 255, 180, 0.35);
    transform: scale(1.03);
}

#vilao:hover {
    box-shadow: 0 0 40px rgba(205, 0, 0, 0.35);
    background-color: rgba(205, 0, 0, 0.35, .05);
}

.perso img {
    margin-left: 30px;
    width: 190px;
    height: 190px;
    border-radius: 20px;
}

/*Footer*/
.footer {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;
}

.footer .container {
    display: flex;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 30px;
    justify-content: center;
    align-self: center;
    flex-basis: 33%;
}

.redes-sociais h1 {
    color: white;
    font-size: 25px;
}

.redes-sociais img {
    width: 130%;
    height: auto;
}

.iconRedes {
    display: flex;
    gap: 30px;
    margin-left: 60PX;
}

.algumtexto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 33%;
}

.algumtexto h1 {
    color: white;
}

.algumtexto p {
    color: white;
}

.eu {
    display: flex;
    justify-content: center;
    flex-basis: 33%;
    flex-direction: column;
}

.eu img {
    width: 40%;
    height: 70%;
    margin: 30px 0px 0px 200px
}

.eu p {
    color: white;
    font-size: 10px;
    margin-left: 230px;
}


.footer2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    border: 1px solid white;
}

.footer2 h1 {
    color: white;
    font-size: 20px;
}

/*Tela de login*/

.card .container {
    display: flex;
    background-color: rgb(37, 36, 36, 0.5);
    justify-content: center;
    width: 500px;
    height: 680px;
    margin: 50px 0px 0px 570px;
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 25px #00eaff, inset 0 0 10px #00eaff;


}

#imgEstrelaMorte {
    position: absolute;
    margin-top: 200px;
    width: 400px;
}

.camposCadastro {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.camposCadastro img {
    width: 80%;
    height: auto;
    margin-left: 40px;
}

.camposCadastro h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20%;
}

.campo {
    display: flex;
    margin-bottom: 60px;
}

.camposCadastro input {
    width: 100%;
    height: 50px;
    background-color: rgb(37, 36, 36, 0.5);
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff;
    border-radius: 3px;
    outline: none;
    color: white;


}

.camposCadastro input::placeholder {
    color: white;
    font-size: 20px;
}

.camposCadastro button {
    font-size: 30px;
    background-color: rgb(30, 200, 255, 0.5);
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff;
    border-radius: 3px;
    color: white;
}

/*Tela de cadastro*/
.card .container-cadastro {
    display: flex;
    background-color: rgba(14, 84, 108, 0.5);
    justify-content: center;
    width: 950px;
    height: 680px;
    margin: 50px 0px 0px 170px;
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 25px #00eaff, inset 0 0 10px #00eaff;
    margin-bottom: 30px;
    border-radius: 20px;


}


.subcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.campo-cadastro {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.subcontainer img {
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.subcontainer h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 10%;
    margin-left: 27%;
}

.campo {
    display: flex;
    margin-bottom: 60px;
}

.subcontainer input {
    width: 250px;
    height: 50px;
    background-color: rgb(37, 36, 36, 0.5);
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff;
    border-radius: 10px;
    outline: none;
    color: white;


}

.subcontainer input::placeholder {
    color: white;
    font-size: 15px;
    margin-left: 100px;
}

.subcontainer button {
    width: 80%;
    height: 20%;
    background-color: rgb(30, 200, 255, 0.5);
    border: 5px solid rgb(30, 200, 255);
    box-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    margin-left: 70px;

}

.botoes {
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}



/*Tela sobre mim*/

.historia {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 70px;
}



.historia .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(14, 84, 108, 0.5);
    border-radius: 10px;
    width: 170%;
    height: 300px;
    margin: 50px 0px 0px 20px;
    color: white;
    line-height: 20px;

}

.historia .container h1 {
    font-size: 40px;
}

.historia .container p {
    font-size: 17px;
    margin: 20px 20px 30px 20px
}

.fotoHistoria img {
    margin: 50px 10px 10px 10px;
    width: 90%;
    height: auto;
    border-radius: 15px;
}

/*Segunda parte do sobre mim*/

.filmeFav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
}

.filmeFav .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 100px;
    margin: 100px 0px 0px 20px;
    color: white;
    line-height: 20px;

}

.filmeFav h1 {
    font-size: 50px;
    color: #feda4a;
}

.filmeFav p {
    font-size: 18px;
}


.content-filmeFav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    gap: 50px;
}

.content-textFilmeFav {
    width: 40%;
    height: 200px;
    background-color: rgba(14, 84, 108, 0.5);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.content-filmeFav p {
    color: white;
    width: 95%;
    height: 200px;
}

/*Terceira parte do sobre mim*/

.momentos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px;
}

.momentos h1 {
    color: white;
    justify-content: center;
    align-self: center;
    font-size: 50px;
}

.momentos span {
    color: white;
    justify-content: center;
    align-self: center;
    font-size: 30px;
}

.momentos .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    gap: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.content-momentos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgba(14, 84, 108, 0.5);
    border-radius: 10px;
    width: 50%;
    height: 200px;
    margin: 50px 0px 0px 20px;
    color: white;
    line-height: 20px;
}

.content-momentos img {
    width: 60%;
    height: 100%;
}

/*Valores*/

.valores {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}

.valores h1 {
    color: white;
    font-size: 30px;
}

.valores span {
    color: white;
    font-size: 20px;
}

.valores .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 40, 43, 0.5);
    width: 94%;
    height: 700px;
    border-radius: 10px;
    gap: 80px;
    margin-bottom: 10px;
}

.containerValores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    
}

.content-valor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(101, 118, 124, 0.5);
    box-shadow: 0 0 20px rgba(212, 220, 223);
    width: 25%;
    height: 350px;
    margin-bottom: 110px;

}